<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.TypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server.pojo.Goods.Type">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="father" property="father" />
        <result column="description" property="description" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, father, description, deleted, create_time, modified_time
    </sql>
    <select id="getTypeByName" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from type
        where name = #{name,jdbcType=VARCHAR} and deleted =0
    </select>


    <select id="getIdByName" resultType="int">
        select id
        from type
        where name = #{name,jdbcType=VARCHAR} and deleted =0
    </select>

    <select id="getTypeByFather" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from type where father = #{father} and deleted =0
    </select>
    <select id="getNameById" resultType="String">
        select name
        from type
        where id = #{id,jdbcType=NUMERIC} and deleted =0
    </select>

</mapper>
